.task {
  background-color: whitesmoke;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  border-bottom: 1px solid transparent;
  border-left: 3px solid transparent;
  transition: border 0.3s;

  &.reminder {
    border-left: 3px solid rgb(0, 169, 0);
    border-bottom: 1px solid rgb(0, 169, 0);
  }
  > h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
  }
}
